<div class="text-center">
<div class="jumbotron">
<h4 data-toggle="tooltip" title="has never been so simple.">Crashing at someone's home...</h4>
</div>
<h4><STRONG>Latest NEWS</STRONG></h4>
<p>Vagabonds in demand</p>
<p>Hobos on strike, underpopulation results in desperate mesasures</p>
<p>Ghosttowns increasing, nomads are not mad!</p>
<p>Homes in need of living</p>
<p>Living rooms terrified, dead rooms reported</p>
<%= link_to "my link", sign_in_path  %>
<a href="/" class="btn btn-danger btn-xs" role="button" data-toggle="tooltip" title="monster!"><span class="glyphicon glyphicon-record" aria-hidden="true"></span></a>

</div>